<section class="container">
	<form>
		<input ng-model="answer.picture1" type="text" placeholder="ที่อยู่รูปภาพ" />
		<input ng-model="answer.picture2" type="text" placeholder="ที่อยู่รูปภาพ" />
		<input ng-model="answer.picture3" type="text" placeholder="ที่อยู่รูปภาพ" />
		<input ng-model="answer.answer" type="text" placeholder="คำตอบ" />
		<input ng-model="answer.hint" type="text" placeholder="คำตอบ" />
		<input ng-model="answer.syllable" type="number" placeholder="พยางค์"/>
		<h3>Option</h3>
		<input type="checkbox" ng-model="public" ng-check="true">เปิดให้คนอื่นเล่นหรือไม่<br/>
		<input type="checkbox" ng-model="">
	</form>
</section>