<section class="container">
	<div class="row">
		<div class="span4">
			<form ng-submit="send()">
				<h3>มุข</h3>
				<label>คำตอบ:</label><input type="text" ng-model="question.answer" placeholder="คำตอบ" required /><br/>
				<label>คำใบ้:</label><input type="text" ng-model="question.hint" placeholder="คำใบ้"  required/><br/>
				<label>พยางค์:</label><input type="number" ng-model="question.syllable" placeholder="พยางค์"  required /><br/>
				<label>รูปภาพที่1:</label><input type="text"  required ng-model="question.picture1" ng-change="adjustImages()" placeholder="url รูปภาพ" /><br/>
				<label>รูปภาพที่2:</label><input type="text" ng-model="question.picture2" ng-change="adjustImages()" placeholder="url รูปภาพ" /><br/>
				<label>รูปภาพที่3:</label><input type="text" ng-model="question.picture3" ng-change="adjustImages()" placeholder="url รูปภาพ" /><br/>
				<h3>ยืนยันตัวตนผู้ส่ง</h3>
<button ng-click="login()" class="{{isShowLogin()}} btn btn-primary">ดึงข้อมูลจาก Facebook</button>
				<span>{{question.owner_name}}</span><img src="images/accept.gif" class="{{!isShowLogin()}}"><br/>
				<input id="owner-name" type="hidden"  required ng-model="question.owner_name" placeholder="ฉายา"/>

				<input id="facebook-url" type="hidden" ng-model="question.owner_facebook_url" placeholder="url facebook ตัวเอง"/>
				<input type="hidden" ng-model="question.owner_twitter_url" placeholder="url twitter ตัวเอง"/><br/>
				<input type="checkbox" ng-model="question.is_suggest">แนะนำมุขนี้ให้เว็บ taicome.com<br/>
				<br/>
				
				<input type="submit" class="btn" value="สร้างมุข"/>

			</form>
		</div>
		<div class="span8">
			<div>
				แนะนำมุขโดย <a ng-href="{{question.owner_facebook_url}}" target="_blank">{{question.owner_name}}</a>
			</div>
			<div class="imageContainer">
				<div class="guess image">
					<img ng-src="{{question.picture1}}" >
					<img ng-src="{{question.picture2}}" >
					<img ng-src="{{question.picture3}}" >
				</div>
			</div>
		</div>
	</div>
</section>

<div id="shareModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Share</h3>
  </div>
  <div class="modal-body">
		<a href="#" 
		  onclick="
		    window.open(
		      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('{{url}}'), 
		      'facebook-share-dialog', 
		      'width=626,height=436'); 
		    return false;"><img src="images/share-facebook.png" /></a>
		 <a href="https://twitter.com/share" data-url="{{url}}" target="_blank"  data-text="{{answer}} {{url}}" data-hashtags="taicome"><img src="images/share-twitter.png" /></a>
  		<label>ส่งผ่าน url</label>
    	<input type="text" ng-model="url" />


  </div>
  <div class="modal-footer">
   <button type="button" class="btn btn-danger" data-dismiss="modal" >ปิด</button>
    
  </div>
</div>